@font-face {
    font-family: 'RussoOne';
    font-style: normal;
    font-display: swap;
    src: local('RussoOne'), url('/fonts/RussoOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Aquire';
    font-style: normal;
    font-display: swap;
    src: local('Aquire'), url('/fonts/Aquire.otf') format('opentype');
}

@font-face {
    font-family: 'TekoBold';
    font-style: normal;
    font-display: swap;
    src: local('TekoBold'), url('/fonts/Teko-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'TekoLight';
    font-style: normal;
    font-display: swap;
    src: local('TekoLight'), url('/fonts/Teko-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'TekoMedium';
    font-style: normal;
    font-display: swap;
    src: local('TekoMedium'), url('/fonts/Teko-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'TekoRegular';
    font-style: normal;
    font-display: swap;
    src: local('TekoRegular'), url('/fonts/Teko-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'TekoSemiBold';
    font-style: normal;
    font-display: swap;
    src: local('TekoSemiBold'), url('/fonts/Teko-SemiBold.ttf') format('truetype');
}



ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #222;
}