@font-face {
    font-family: 'RussoOne';
    src: url('/fonts/RussoOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Aquire';
    src: url('/fonts/Aquire.otf') format('opentype');
}

@font-face {
    font-family: 'TekoBold';
    src: url('/fonts/Teko-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'TekoLight';
    src: url('/fonts/Teko-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'TekoMedium';
    src: url('/fonts/Teko-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'TekoRegular';
    src: url('/fonts/Teko-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'TekoSemiBold';
    src: url('/fonts/Teko-SemiBold.ttf') format('truetype');
}



ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #222;
}